<html xmlns:th="http://www.thymeleaf.org">
<!-- 
/* 
* @Author: unknown
* @Date:   17Aug2015
* @Last Modified 2015-08-17
* @Modified By Jeremiah Marks - Jeremiah@JLMarks.org
* Modified to make the page match the style and content of the rest of the pages.
*/
 -->
	<head>
		<title>Error</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	</head>
	<body>
		<div class="container">
			<div th:include="nav :: mainnav"></div>
			<h1 th:text="${title}">Title</h1>
			<div>
				There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
			</div>
			<div th:text="${message}">Fake content</div>
			<div>
				Please contact the operator with the above information.
			</div>
		</div>
	</body>
</html>