<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- 
/* 
* @Author: Jeremiah Marks
* @Date:   17Aug2015
* @Last Modified 2015-08-17
* @Modified By Jeremiah Marks - Jeremiah@JLMarks.org
* Added to provide an embeddable, reusable file uploader.
*/
 -->
	<body>
		
		<div th:fragment="upload">
			<form action="#" th:action="@{/}" method="post" enctype="multipart/form-data">
				<div>File to upload:</div>
				<input type="file" name="file" />
				<br />
				<br />
				<input type="submit" value="Upload" />
			</form>
		</div>
	</body>
</html>