<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CIA</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    </head>
    <body>
        <div class="container">
            <div th:include="nav :: mainnav"></div>
            <div th:switch="${account.numExistingContacts}">
                <div th:case="0">
                    <div th:include="namekeyform :: appDetails"></div>
                </div>
                <div th:case="*">
                    <div th:include="filepick :: upload"></div>
                </div>
            </div>
            <div th:include="footer :: copy"></div>
        </div>
    </body>
</html>