<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Import Data</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>
    <form action="/upload" th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div>Name Your File:</div>
            <input type="text" name="name" />
                <div>File to upload:</div>
                    <input type="file" name="file" />
                <br />
            <br />
        <input type="submit" value="Upload" />
    </form>
</body>
</html>