<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<body>
<!-- 
This provides a way to always get an applications details. This way if the credentials are wrong, or
if the user wants to change to a different application, they can.
 -->
		<div th:fragment="appDetails">
			<p th:text="'id: ' + ${account.appName}" />
			<p th:text="'key: ' + ${account.apiKey}" />
			<p th:text="'Existing: ' + ${account.numExistingContacts}" />
			<form name="form2" action="#" th:action="@{/}" th:object="${account}" method="post">
				<fieldset>
					<input type="text" name="appName" value="" id="darkField" th:field="*{appName}" />
					<input type="password" name="apiKey" value="" id="darkField" th:field="*{apiKey}" />
				</fieldset>
				<input type="submit" id="App Data" value="Verify API data" class="btn btn-primary" />
			</form>
		</div>
	</body>
</html>