<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="mainnav">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a th:href="@{/}" href="home.html"> CIA </a></li>
                        <li><a th:href="@{/export}" href="export"> Export</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </body>
    
</html>