* {
    box-sizing: border-box;
}

input {
    border:0;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}


#bttn {
    color: #E4F4FC;
}

#submit {
    border-radius: 15px;
    background-color: green;
}

p {
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #E4F4FC;
}

body {
    background-color: #2c3338;
}

.appName {
    background-color: #2c3338;
}

.apiKey {
    background-color: #2c3338;
}